main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: -10px;
}

.carousel-caption h2 {
  color: #fff;
}

@media (max-width: 1040px) {
  .carousel-caption h2 {
    line-height: 1rem;
    font-size: 16px;
  }
}

.carousel img {
  height: 250px;
  padding: 30px;
  margin: 20px 0;
  border-radius: 30%;
}
.carousel a {
  margin: 0 auto;
}

/* my css edits */

footer {
  background: linear-gradient(#446690, #333a84);
}
/* 
.card, .list-group .list-group-flush {
  margin-top: 550px;
} */

.credit-cards {
  margin-bottom: 30px;
  /* width: 200px; */
  height: 200px;
}

.credit-cards > * {
  margin-top: 30px;
  height: 50px;
  width: 100px;
}

.categories-screen {
  align-items: center;
  background: linear-gradient(#446690, #333a84) !important;
  /* border: 1px solid black; */
  display: flex;
  font-size: 28px;
  justify-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-shadow: white 0px 0px 10px;
  width: 100%;
}

.categories-screen-div {
  background-size: cover;
  background-color: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ), url('https://images.unsplash.com/photo-1524234107056-1c1f48f64ab8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjJ8fHRlY2glMjBwcm9kdWN0c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60');
  padding: 55px 0;
  text-align: center;
  width: 100%;
  max-height: 100vh;

}

.homescreen-header {
  margin-top: 50px;
  padding: 0;
}

.form-container h4 {
  font-size: 30px;
  margin-top: -50px;
}

.form-container button {
  margin-top: 20px;
  border-radius: 4px;
  background-color: darkblue;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  text-align: center;
}

@media (max-width: 1040px) {
  .categories-screen {
    background-color: #fff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1px 0;
    /* padding: 70px; */
    width: 100%;
  }
  .categories-screen-div {
    font-size: 30px;
    margin-bottom: .5rem;
    padding: 15px 0;
    /* margin-bottom: -1px; */
  }
  .credit-cards > * {
    height: 25px;
    width: 30px;
  }

  .subscribe-form button {
    font-size: 15px;
  }

  .subscribe-form {
    background-size: cover !important;
    height: 500px !important;
    width: 100% !important;
  }

  .subscribe-modal {
    font-size: 10px !important;
    line-height: 10px !important;
    padding-right: 40px !important;
    margin: 80px -90px !important;
    width: 100% !important;
    z-index: 2;
  }

  .subscribe-modal h4 {
    font-size: 20px !important;
  }

  .subscribe-modal input {
    font-size: 15px !important;
    height: 40px;
    width: 85% !important;
  }
  
}

.subscribe-modal {
  position: fixed;
}

.shopify {
  color: limegreen;
}

.subscribe-button {
  border-radius: 4px;
  background-color: darkblue;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  margin: 10px 0;
  padding: 20px;
  transition: all 0.5s;
  text-align: center;
  width: 600px;
}

.subscribe-button-container {
  text-align: center;
}

.subscribe-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.subscribe-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.subscribe-button:hover span {
  padding-right: 25px;
}

.subscribe-button:hover span:after {
  opacity: 1;
  right: 0;
}

.subscribe-form {
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1512756290469-ec264b7fbf87?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHRlY2h8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60');
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-top: -50px; */
	width: 100%;
}

.subscribe-form input {
  border-radius: 2px;
  border: none;
  font-size: 1.2rem;
  margin: 30px 20px;
  padding: 15px;
}

.subscribe-form button {
  background-color: rgba(0, 170, 255);
  border: none;
  cursor: pointer;
  color:#fff;
  margin: 50px;
  padding: 20px 0;
  width: 50%;
}

@media (max-width: 1040px) {
  .subscribe-button {
    font-size: 20px;
    width: 90%;
  }
}

/* #search-icon {
  padding-left: 60px;
} */

#register-button, #login-button {
  color: red;
}